.skills-right{
	display: flex;
	height: 100%;
	width: 65%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $white;

	button{
		background: $white;
		border: none;
		border-radius: 2px;
		height: 65px;
		width: 250px;
		color: $blue;
		margin-top: 25px;
		cursor: pointer;
		box-shadow: $shadow;
		outline: none;
		transition: none;

		&:hover, &:active {
			background: $gray;
		}

		&:active {
			box-shadow: none;
		}
	}
}