html{
	font-family: Arial;
}

h2{
	font-size: 3.5rem;
}

h3{
	font-size: 2rem;
}

p{
	font-size: 1.35rem;
}

button{
	font-size: 1.5rem;
}

a{
	font-size: 1.25rem;
}

@media only screen and (max-width: $medium-screen){
	h2{
			font-size: 2.5rem;
	}

	h3{
		font-size: 1.75rem;
	}

	p{
		font-size: 18px;
	}
}