//Color variables
$red: #F45B46;
$dark-navy: #252934;
$blue: #03C1C8;
$gray-light: #F5F5F5;
$gray: #E6E6E6;
$gray-dark: #A29C9C;
$white: #FFFFFF;
$black: #000000;

$shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.16);

$medium-screen: 1200px;
$small-screen: 1050px;
$mobile: 875px;
$mobile-small: 650px;