#project-info{
	margin-top: -65px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: inherit;
	min-height: 100%;
	width: 100%;
	background: rgba(37, 41, 52, 0.9);

	.project-info-container{
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 1386px;
		width: 100%;
		position: relative;
	}
}