#project-info{
	margin-top: -65px;
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.project-info-left,
	.project-info-right{
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
	}

	.project-info-left{
		width: 100%;
	}

	.project-info-right{
		width: 40%;
		justify-content: flex-start;
		height: 100%;
	}

	.project-white-box{
		height: 15%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.blue-exit{
		position: static;
		margin-right: 5%;
	}
}