#skill-info{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	.skill-info-left{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		img{
			width: 75%;
			height: auto;
		}
	}

	.skill-info-right{
		background: $blue;
		height: 100%;
		width: 100%;
		z-index: 1;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.skill-info-projects{
			margin: 10% 0px;
			width: 700px;
			display: flex;
			justify-content: space-around;

			.project-item{
				top: 0px;
			}
		}

		.skill-info-projects, h2{
			margin-right: 100px;
			color: $white;
		}

		&:before {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			transform: skewX(-5deg);
			background: $blue;
			top: 0;
			left: -100px;
			z-index: -1;
		} 
	}
}