#skill-info{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	.skill-info-left{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		img{
			width: 75%;
			height: auto;
		}
	}

	.skill-info-right{
		background: $blue;
		height: 100%;
		width: 100%;
		z-index: 1;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.skill-info-projects{
			margin: 10% 0px;
			width: 700px;
			display: flex;
			justify-content: space-around;

			.project-item{
				top: 0px;
			}
		}

		.skill-info-projects, h2{
			margin-right: 100px;
			color: $white;
		}

		&:before {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			transform: skewX(-5deg);
			background: $blue;
			top: 0;
			left: -100px;
			z-index: -1;
		} 
	}

	@media only screen and (max-width: $medium-screen){
		.skill-info-right{
			.skill-info-projects{
				margin: 0;
				margin-top: 100px;
				margin-right: 50px;
				width: 500px;
				img{
					width: 200px;
				}
				.project-item-overlay{
					width: 200px;
					height: 150px;
				}
			}
		}
	}

	@media only screen and (max-width: $mobile){
		.skill-info-left{
			img{
				width: 100%;
			}
		}
		.skill-info-right{
			.skill-info-projects{
				width: 250px;
				margin-right: 100px;
			}
		}
	}

	@media only screen and (max-width: $mobile-small){
		flex-direction: column;
		height: 700px;
		.skill-info-left{
			img{
				width: 50%;
			}
		}

		.skill-info-right{
			h2{
				margin: 0;
				margin-top: 25px;
			}

			.skill-info-projects{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0;
				margin-top: 25px;
			}
		}

		.white-exit{
			top: 165px;
			width: 30px;
			position: absolute;
		}
	}
}