.project-info-desc{
	background: $gray;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 0;

	p{
		width: 80%;
	}

	.project-desc-title{
		font-size: 2.5rem;
		color: $dark-navy;
	}

	.project-desc-company{
		font-size: 2rem;
		color: $gray-dark;
		border-bottom: $dark-navy solid 1px;
	}

	.project-desc-paragraph{
		font-size: 1.5rem;
		color: $dark-navy;
		margin-top: 15px;
	}

	@media screen and (max-width: 992px){
		.project-desc-title{
			font-size: 2rem;
		}
		.project-desc-company{
			font-size: 1.5rem;
		}
		.project-desc-paragraph{
			font-size: 1rem;
		}
	}
}