.projects-list{
	display: flex;
	width: 900px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 2px 0px gray;

	.projects-row{
		display: flex;
		overflow: hidden;
		position: relative;
	}
}