.project-info-skills{
	background: $dark-navy;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img{
		width: 75px;
		height: auto;
		margin: 0px 10px;
		cursor: pointer;
		border-radius: 100%;
	}

	@media screen and (max-width: 992px){
		height: 75px;

		img{
			width: 50px;
		}
	}
}