.project-item{
	position: relative;
	height: 225px;
	top: -238px;
	transition: none;
	margin: 10px;
	box-shadow: 0px 2px 2px 0px gray;

	img{
		width: 300px;
		height: auto;
	}

	.project-item-overlay{
		display: flex;
		position: absolute;
		background: rgba(37, 41, 52, 0.9);
		width: 300px;
		height: 225px;
		top: 0px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $gray;
		opacity: 0;
		overflow: hidden;

		p{
			position: relative;
			top: -100px;
			font-size: 1.25rem;
			width: 68%;
			text-align: center;
		}

		.project-type{
			margin-top: 20px;
			margin-bottom: 35px;
			font-size: 1.10rem;
		}

		a{
			color: $gray;
			font-size: 1rem;
			cursor: pointer;
			position: relative;
			bottom: -100px;
			text-decoration: none;

			&:hover{
				border-bottom: $gray solid 2px;
			}
		}
	}

	&:hover .project-item-overlay{
		opacity: 1;

		p{
			top: 0px;
		}

		a{
			bottom: 0px;
		}
	}

	@media only screen and (max-width: $small-screen){
		height: 150px;

		img{
			width: 200px;
		}

		.project-item-overlay{
			width: 200px;
			height: 150px;
		}

		.project-item-overlay{
			p{
				font-size: 1rem;
			}

			.project-type{
				font-size: .75rem;
				margin-top: 10px;
				margin-bottom: 15px;
			}

			a{
				font-size: .75rem;
			}

		}

	}

	@media only screen and (max-width: $mobile){
		height: 225px;

		img{
			width: 300px;
		}

		.project-item-overlay{
			width: 300px;
			height: 225px;
		}

		.project-item-overlay{
			p{
				font-size: 1.25rem;
			}

			.project-type{
				font-size: 1.10rem;
				margin-top: 10px;
				margin-bottom: 35px;
			}

			a{
				font-size: 1rem;
			}

		}
	}

}