.project-info-image{
	height: 100%;
	width: 100%;
	position: relative;

	img{
		display: block;
		width: 100%;
		height: auto;
	}

	.project-info-overlay{
		position: absolute;
		display: flex;
		height: 100%;
		width: 100%;
		background: linear-gradient(
			to right, 
			rgba(255, 255, 255, 0.15), 
			rgba(0, 0, 0, .50) 5%, 
			rgba(0, 0, 0, 0), 
			rgba(0, 0, 0, .50) 95%, 
			rgba(255, 255, 255, .15));
		top: 0;
		justify-content: space-between;

		button{
			background: none;
			border: none;
			opacity: 0.5;
			margin: 0px 10px;
			cursor: pointer;
			height: 85%;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover{
				opacity: 1;
			}
		}
	}
}