.projects-list{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.projects-row{
		display: flex;
		overflow: hidden;
		position: relative;
	}

	@media only screen and (max-width: $mobile){
		.projects-row{
			flex-direction: column;
		}
	}
}