.about-content{
	position: relative;
	z-index: 4;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	h3, p{
		position: relative;
		opacity: 0;
		margin-left: 25px;
		top: -50px;
		transition: ease-out all 0.5s;
	}

	.about-title{
		color: $gray-dark;
		font-size: 1.5rem;
	}

	p{
		margin-top: 25px;
		width: 525px;
		color: $dark-navy;
	}
}