.home-name{
	display: flex;
	flex-wrap: wrap;
	width: 175px;
	margin-left: 50px;
	transition: none;
	position: relative;

	div{
		display: flex;
	}

	.first-name, .last-name{
		overflow: hidden;
	}

	p{
		position: relative;
		top: -75px;
		font-size: 3rem;
		transition: none;
		opacity: 0;
	}

	@media only screen and (max-width: $medium-screen){
		margin-left: 150px;

		p{
			font-size: 2.5rem;
		}
	}
	@media only screen and (max-width: $small-screen){
		position: absolute;
		right: 150px;
		margin-top: 50px;
	}
	@media only screen and (max-width: $mobile){
		.last-name{
			margin-left: 10px;
		}
		width: 100%;
		margin: 0px;
		margin-top: 50px;
		right: 0;
		justify-content: center;
	}
}