.blue-exit{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	width: 75px;
	background: $blue;
	border: none;
	border-radius: 100%;
	z-index: 7;
	position: fixed;
	top: 50px;
	right: 50px;
	box-shadow: $shadow;
	cursor: pointer;
	outline: none;
	transition: none;

	img{
		width: 35px;
		height: auto;
	}

	&:active{
		box-shadow: none;
	}
}