.menu{
	background: $white;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;

	.menu-hamburger-container{
		display: flex;
		background: $red;
		width: 100%;
		height: 100px;
		justify-content: center;
		align-items: center;

		img{
			width: 50%;
			height: auto;
			cursor: pointer;
		}
	}

	.menu-dark-box{
		background: $black;
		width: 100%;
		height: 200px;
	}
}